<div class="frame frame-default frame-type-list frame-layout-o">
    <div class="tx-calc">
        <h2>Finanzierungsrechner Login</h2>
        <div class="row justify-content-center">
            <div class="btn btn-light p-4" (click)="gotoCalculator()" role="button">
                <!-- <i class="icon icon-cancel_large"></i> -->
                <img src="../../../assets/images/svg/calculator_icon.svg" alt="Calculator Icon">
                <h3 class="mt-2">Kalkulation Starten</h3>
            </div>
        </div>
    </div>
</div>